<!DOCTYPE html>
<html>
<head>
<!--  -->
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<meta name="msvalidate.01" content="B3617B0174EE3A9FCDA186D424C42B89" />
<!--  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/fontawesome.min.css" integrity="sha512-UuQ/zJlbMVAw/UU8vVBhnI4op+/tFOpQZVT+FormmIEhRSCnJWyHiBbEVgM4Uztsht41f3FzVWgLuwzUqOObKw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!--  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.min.js" integrity="sha512-a6ctI6w1kg3J4dSjknHj3aWLEbjitAXAjLDRUxo2wyYmDFRcz2RJuQr5M3Kt8O/TtUSp8n2rAyaXYy1sjoKmrQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="MONGODB TRAINING">
    <meta name="author" content="motion">
    <meta name="generator" content="Hugo 0.84.0">
    <title>MONGODB TRAINING</title>
    <meta name="keywords" content="MONGODB TRAINING">
    <meta name="theme-color" content="#7952b3">

  <!-- Vendor CSS Files -->
  <link href="aos/aos.css" rel="stylesheet">
  <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="remixicon/remixicon.css" rel="stylesheet">
  <link href="swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="cover.css" rel="stylesheet"> 
  <link href="bootlander.css" rel="stylesheet">
    <!-- Custom styles for this template -->
  <link href="cover.css" rel="stylesheet">

<!--  -->
</head>
<body>
    <%- include('header') %>
            <%- body %>
    <%- include('footer') %>
</body>
  <!-- Vendor JS Files -->
  <script src="purecounter/purecounter_vanilla.js"></script>
  <script src="aos/aos.js"></script>
  <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="glightbox/js/glightbox.min.js"></script>
  <script src="swiper/swiper-bundle.min.js"></script>
  <script src="php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="bootlander.js" ></script>
</html>
